<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/base_back %> 
<!-- <% include partials/header %> -->


  <h3><%= frm_data[menuId].description %></h3>
<% include partials/head_base %>
</body>
<!-- <% include partials/script %> -->
</html>